.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #6b068a;
  border: 1px solid #6b068a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #47035d;
  border-color: #47035d;
}

.form button:disabled {
  opacity: 0.2;
  cursor: auto;
}

.form button:disabled:hover,
.form button:disabled:active {
  background-color: #6b068a;
  border: 1px solid #6b068a;
  color: white;
}

.input {
  justify-content: flex-end;
}
